/* Rifdah Pritama Saputri = Membuat resep_saya.css */
/* style.css */
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}



nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e7782f;
}


.logo {
    font-size: 24px;
    float: left;
}
/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.header, .footer {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* Navigation bar styling */
.navbar {
    border-bottom: 1px solid #ccc;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    color: #343a40 !important;
}

.nav-link:hover {
    color: #007bff !important;
}

/* Table styling */
.table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.table th {
    background-color: #343a40;
    color: white;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table img {
    display: block;
    max-width: 100px;
    height: auto;
}
.icon {
    width: 24px;
    height: 24px;
    padding: 10px;
}

/* Button styling */
.btn {
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 1rem;
}

.btn-info {
    background-color: #17a2b8;
}

.btn-info:hover {
    background-color: #138496;
}

.btn-primary {
    background-color: #a9692d;
    border-radius: 30px;
    

}

.btn-primary:hover {
    background-color: #099ba2;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Additional styling for FontAwesome icons */
.btn i {
    margin-right: 4px; /
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .btn {
        padding: 6px 12px;
        font-size: 12px;
    }
}
