*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    width: 100%;
    min-height: 100vh;
    background: #f8f8f8;
}

header{
    height: 60px;
    width: 100%;
    background: #222121;
    color: #fff;
    display: flex;
    align-items: center;
}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-log {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: -25px;
}
.nav-list{
    display: none;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: 550;
    
}

.nav-log li {
    list-style: none;
    display: inline;
    margin-right: 20px;
    font-weight: 550;
}

.nav-log li a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav-log li a:hover {
    background-color: #333;
}

#login-button,
#daftar-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#login-button:hover,
#daftar-button:hover {
    background-color: #333;
}

.logo{
    font-size: 24px;
    margin-left: 100px;
}

.hero{
    width: 100%;
    height: auto;
    background: url(images/laber.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 160px 0;
    margin-bottom: 20px;
}

.hero h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.cari-box{
    max-width: 550px;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
}

.cari-box input{
    width: 70%;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
    border: 1px solid rgb(245, 37,9);
}

.cari-box button{
    padding: 10px 20px;
    outline: none;
    border: 0;
    border-radius: 0px 5px 5px 0;
    font-size: 1rem;
    background: rgb(245, 37,9);
    color: #fff;
    cursor: pointer;
}

.recipes{
    padding: 50px 0;
}

.recipe-img {
    text-align: center;
    margin-bottom: 40px;
}

.recipe-img img {
    width: 500px;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.recipes h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.recipe-section{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10px;
}

.recipe-card{
    background: #fff;
    margin: 30px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    text-align: justify;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.recipe-card h2{
    font-size: 22px;
    padding: 20px;
}

.recipe-card p{
    font-size: 18px;
    padding: 20px;
}

.recipe-info ol,
.recipe-info ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

.recipe-info li {
    margin-bottom: 10px;
}


.recipe-card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background: #333;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
}

footer{
    background: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.menu-icon{
    font-size: 24px;
    padding: 20px;
    text-align: right;
    cursor: pointer;
    display: block;
}


#kembali-ke-daftar {
    background-color: #ddd;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
 
#simpan-resep {
    background-color: #354a61;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

@media only screen and (min-width: 768px){
    .menu-icon{
        display: none;
    }
    .nav-list{
        display: block;
    
    }
    
}

@media only screen and (max-width: 768px){
    .hero h2{
        font-size: 28px;
    }
    
    .hero p{
        font-size: 15px;
    }
}